
@{
    ViewBag.Title = "About";
}

<section class="content-header">
    <h1>
        About
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
        <li class="active">About</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Information Detail</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body admin-content">
                    <label class="col-sm-1 control-label">Location</label>
                    <label class="col-sm-5 control-label">Dalian</label>
                </div>
            </div>
        </div>
    </div>
</section>


