
label.redAsteriskAfter:after  {
  content: '*';
  color: red;
}

label.redAsteriskBefore:before  {
  content: '*';
  color: red;
  margin-right:5px;
}

.btn-logout {
    margin: 8px;
}

.template-btn {
    margin-right: 5px;
}

.addMeetingRoomDiv {
    display: none;
}

.bookMeetingRoomDiv {
    display: none;
}

