<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Smart Office</title>
    <link rel="shortcut icon" href="~/images/photo4.jpg">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/AdminLTE.min.css" />
    <link rel="stylesheet" href="~/Content/_all-skins.min.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/smartstock.css" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/smartoffice.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>

